*
!*/

!/.editorconfig
!/.gitignore
!LICENSE
!README.md

!/licenses/*
!/metadata/*.conf
!/profiles/**.desc
!/profiles/*.mask
!/profiles/categories
!/profiles/eapi
!/profiles/info_pkgs
!/profiles/info_vars
!/profiles/license_groups
!/profiles/repo_name
!/profiles/thirdpartymirrors

!*.ebuild
!/eclass/*.eclass
!Manifest
!metadata.xml
